@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  --btn-primary: #ffb8b8;
  --btn-secondary: #ff9999;
}

.App-link {
  color: #61dafb;
}

.theme-header {
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}

.page-content-wrapper {
  display: flex;
  justify-content: center;
}

.page-content {
  min-width: 75%;
}

.btn {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--btn-primary);
  border: 0.2rem solid var(--btn-secondary);
  margin: 0.5rem;
}